<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Test suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="var/coverage/report"/>
        <log type="coverage-clover" target="var/coverage/report.xml"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>
